body  {
    margin-top: 45px;
    font-size: 16px;
    background-color: #f6f6f8;
    font-family: system-ui, sans-serif;
}

.grid-container {
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(62, 1fr);
    width: 725px;
    height: 160px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.post-container {
    display: grid;
    grid-template: repeat(13, 1fr) / repeat(62, 1fr);
    width: 725px;
    height: 140px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.posted-reply-container {
    display: grid;
    grid-template: repeat(17, 1fr) / repeat(62, 1fr);
    width: 725px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.indented-reply-container {
    display: grid;
    grid-area: 1 / 8 / span 15 / span 55;
    grid-template: repeat(15, 1fr) / repeat(55, 1fr);
    height: 160px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
}

.post-connector {
    display: grid;
    grid-area: 1 / 1 / span 17 / span 4; 
    border-right: solid 1px #cccbdc;
    margin-right: 5px;
}

.newest-post-connector {
    display: grid;
    grid-area: 1 / 1 / span 15 / span 4; 
    border-right: solid 1px #cccbdc;
    margin-right: 5px;
}

.plus-btn {
    display: grid;
    grid-area: 3 / 3 / span 3 / span 3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #c3c1e1;
}

.display-btn {
    display: grid;
    grid-area: 6 / 3 / span 2 / span 3; 
    color: #5357b6;
    font-weight: bold;
}

.minus-btn {
    display: grid;
    grid-area: 8 / 3 / span 3 / span 3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #c3c1e1;
}

.plus-btn, .display-btn, .minus-btn {
    border: none;
    align-items: center;
    background-color: #f6f6f8;
}

.header-div {
    display: grid;
    grid-area: 3 / 8 / span 3 / span 55;
    background-color: #fff;
    
}

.indented-header-div {
    display: grid;
    grid-area: 3 / 8 / span 3 / span 48;
    background-color: #fff;
}

.profile-image {
    height: 30px;
    vertical-align: middle;
}

.posting-image {
    height: 40px;
    display: grid;
    grid-area: 3 / 3 / span 3 / span 3;
}

#text-input {
    display: grid;
    grid-area: 3 / 8 / span 9 / span 44;
    font-family: system-ui, sans-serif;
    resize: none;
    border-radius: 6px;
    border-color: #cccbdc;
}

#text-input::-webkit-input-placeholder {
padding-top: 10px;
padding-left: 20px;
color: rgb(152, 150, 150);
}

#send-btn {
    display: grid;
    grid-area: 3 / 54 / span 3 / span 7;
    background-color: #5357b6;
    color: #f6f6f8;
    align-items: center;
    border: none;
    border-radius: 6px
}

.user-name {
    font-weight: bold;
}

.post-time {
    color: gray;
}

.reply-button {
    float: right;
    height: 30px;
    width: 100px;
    margin: 0;
    border: none;
    background-color: white;
    color: #5357b6;
    font-weight: bold;
    font-size: 16px;
}

.post-div {
    display: grid;
    grid-area: 8 / 8 / span 6 / span 51;
    background-color: #fff;
}

.indented-post-div {
    display: grid;
    grid-area: 8 / 8 / span 6 / span 45;
    background-color: #fff;
}

.at-name {
    color: #5357b6;
    font-weight: bold;
}

.post-text {
    color: gray;
}
